
.hr-double {
  margin: 20px 0;
  padding: 0;
  height: 1px;
  border: none;
  border-top: 1px solid rgb(255, 0, 0);
  border-bottom: 1px solid rgb(255, 0, 128);
}

#elem {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem2 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem3 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem4 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem5 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem6 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem7 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem8 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem9 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem10 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem11 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem12 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem13 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem14 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem15 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem16 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}

#elem22 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 20px solid #e100ff;
  overflow: auto;
}
